<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="/js/1/JavaFunctions.js"></script>
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" crossorigin="anonymous" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/lightbox.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
    <style type="text/css">
        <!--
        body {
                background-position:center;
                background-position:top;
                margin-left: 0px;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                background-image: url(images/home_bgbg_bgbg01_01.jpg);
        }
        .style1 {color: #0074bd}
        .style3 {color: #0000FF}
        .style4 {color: #000000}
        .style5 {color: #FF0000}
        #Image10, #Image11 {display:inline}
        -->
    </style>

  </head>

<body onload="MM_preloadImages('images/home__hhh__abc__p1_on.jpg','images/home__hhh__abc__p2_on.jpg','images/home__hhh__abc__p3_on.jpg','images/home__hhh__abc__p4_on.jpg','images/home__hhh__abc__p5_on.jpg','images/home__hhh__abc__p6_on.jpg','images/home__hhh__abc__p7_on.jpg','images/home__hhh__abc__p8_on.jpg','images/home__hhh__abc__p9_on.jpg','images/home_home_top_001_on.jpg','images/home_contact_top_001_on.jpg','images/home_abc00081_001_on.jpg')">
<table width="1001" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td background="images/home__hh__bgbg01_001.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr valign="top">
        <td width="784"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td><img src="images/spe.gif" width="784" height="100"></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="1%"><img src="images/home_000_abc_hh001.jpg"></td>
              <td width="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="75" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="images/spe.gif" width="75" height="26"></td>
                    </tr>
                    <tr>
                      <td><a href="http://www.gahk.org.hk/p1.htm" onmouseover="MM_swapImage('Image1','','images/home__hhh__abc__p1_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p1.jpg" name="Image1" border="0" id="Image1"></a></td>
                    </tr>
                    <tr>
                      <td><img src="images/spe.gif" width="75" height="24"></td>
                    </tr>
                  </tbody></table></td>
                <td width="86" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td><a href="http://www.gahk.org.hk/p2.htm" onmouseover="MM_swapImage('Image2','','images/home__hhh__abc__p2_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p2.jpg" name="Image2" border="0" id="Image2"></a></td>
                  </tr>
                  <tr>
                    <td><img src="images/spe.gif" width="86" height="49"></td>
                  </tr>
                </tbody></table></td>
                  <td width="82" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><a href="http://www.gahk.org.hk/p3.htm" onmouseover="MM_swapImage('Image3','','images/home__hhh__abc__p3_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p3.jpg" name="Image3" border="0" id="Image3"></a></td>
                    </tr>
                    <tr>
                      <td><img src="images/spe.gif" width="82" height="49"></td>
                    </tr>
                  </tbody></table></td>
                  <td width="80" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="images/spe.gif" width="80" height="15"></td>
                    </tr>
                    <tr>
                      <td><a href="http://www.gahk.org.hk/p4.htm" onmouseover="MM_swapImage('Image4','','images/home__hhh__abc__p4_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p4.jpg" name="Image4" border="0" id="Image4"></a></td>
                    </tr>
                    <tr>
                      <td><img src="images/spe.gif" width="80" height="28"></td>
                    </tr>
                  </tbody></table></td>
                  <td width="80" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="images/spe.gif" width="80" height="40"></td>
                    </tr>
                    <tr>
                      <td><a href="http://www.gahk.org.hk/p5.htm" onmouseover="MM_swapImage('Image5','','images/home__hhh__abc__p5_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p5.jpg" name="Image5" border="0" id="Image5"></a></td>
                    </tr>
                    <tr>
                      <td><img src="images/spe.gif" width="80" height="7"></td>
                    </tr>
                  </tbody></table></td>
                  <td width="82" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="images/spe.gif" width="82" height="56"></td>
                    </tr>
                    <tr>
                      <td><a href="http://www.gahk.org.hk/p6.htm" onmouseover="MM_swapImage('Image6','','images/home__hhh__abc__p6_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p6.jpg" name="Image6" border="0" id="Image6"></a></td>
                    </tr>
                  </tbody></table></td>
                  <td width="76" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="images/spe.gif" width="76" height="29"></td>
                    </tr>
                    <tr>
                      <td><a href="http://www.gahk.org.hk/p7.htm" onmouseover="MM_swapImage('Image7','','images/home__hhh__abc__p7_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p7.jpg" name="Image7" border="0" id="Image7"></a></td>
                    </tr>
                    <tr>
                      <td><img src="images/spe.gif" width="76" height="14"></td>
                    </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table></td>
              </tr>
            </tbody></table></td>
          </tr>
        </tbody></table></td>
      <td width="216"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td><img src="images/spe.gif" width="216" height="14"></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="1%"><img src="images/spe.gif" width="22" height="20"></td>
            <td><table width="100" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td nowrap=""><a href="http://www.gahk.org.hk/index.htm" onmouseover="MM_swapImage('Image10','','images/home_home_top_001_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home_home_top_001.jpg" name="Image10" border="0" id="Image10"></a><a href="http://www.gahk.org.hk/p10.htm" onmouseover="MM_swapImage('Image11','','images/home_contact_top_001_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home_contact_top_001.jpg" name="Image11" border="0" id="Image11"></a></td>
              </tr>
            </tbody></table></td>
              <td width="1%"><img src="images/spe.gif" width="18" height="20"></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td><img src="images/spe.gif" width="216" height="28"></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="78" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td><img src="images/spe.gif" width="78" height="13"></td>
                </tr>
                <tr>
                  <td><a href="http://www.gahk.org.hk/p8.htm" onmouseover="MM_swapImage('Image8','','images/home__hhh__abc__p8_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p8.jpg" name="Image8" border="0" id="Image8"></a></td>
                </tr>
              </tbody></table></td>
            <td width="81" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td><a href="http://www.gahk.org.hk/p9.htm" onmouseover="MM_swapImage('Image9','','images/home__hhh__abc__p9_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home__hhh__abc__p9.jpg" name="Image9" border="0" id="Image9"></a></td>
              </tr>
            </tbody></table></td>
            <td width="57"><img src="images/spe.gif" width="57" height="99"></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td width="1%"><img src="images/home_000_abc_hh002.jpg"></td>
      <td width="99%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td width="821" height="277" valign="top" background="images/home_00033__bgbg_001.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="1"><img src="images/spe.gif" width="17" height="68"></td>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td><img src="images/spe.gif" width="168" height="5"></td>
              </tr>
              <tr>
                <td height="241" background="images/hh__fff_001.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td>
					
					
					
					
					
					
					
					<iframe id="Iframe1" width="773" height="238" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.gahk.org.hk/home_f01.htm"></iframe>
					
					
					
					
					
					</td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td><img src="images/spe.gif" width="168" height="31"></td>
              </tr>
            </tbody></table></td>
              <td width="1"><img src="images/spe.gif" width="31" height="68"></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr valign="top">
        <td width="216" background="images/hh__pp_bgbg_bgbg_002.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="1"><img src="images/spe.gif" width="7" height="88"></td>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td><img src="images/home_00030_001_001.jpg"></td>
                </tr>
                <tr>
                  <td valign="top" background="images/home_00030_001_002.jpg"><table width="93%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                      <td height="8"></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td width="193" height="198" valign="top">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td class="f01_HH_001">※由即日起，本會不會接收郵資不足的信件。爲確保郵遞無誤，請在投寄郵件時支付足額郵資及註明回郵地址</td>
                                </tr>
                                <tr>
                                  <td class="f01_HH_001">&nbsp;</td>
                                </tr>
								                                <tr>
                                  <td class="f01_HH_001">※<a href="http://www.gahk.org.hk/doc/Bad%20weather%20guideline.pdf" target="_blank" class="f01_news_003">惡劣天氣情況處理</a></td>
                                </tr>
                                <tr>
                                  <td class="f01_HH_001">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="f01_HH_001">※<a href="http://www.gahk.org.hk/doc/GAHK_GPA_ChineseOutline_2018.pdf" class="style1">本會運動員個人意外保險概要</a></td>
                                </tr>
                                <tr>
                                  <td class="f01_HH_001">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="f01_HH_001"> ※香港中學文憑考試 體育科-體操<br> 
                                    <a href="http://www.gahk.org.hk/doc/dsegym%20demo.wmv" class="style43">示範片段</a></td>
                                </tr>
                                <tr>
                                  <td class="f01_HH_001"><table width="100%" border="0" cellspacing="0" cellpadding="2">
                                      <tbody><tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td> ※香港電台電視節目 <span class="style54"><br>
                                    <strong>香港故事 - 最佳配角                              </strong></span><span class="style56"><br>
                                          </span><span class="style56"></span><span class="style50"><a href="http://programme.rthk.hk/rthk/tv/programme.php?name=tv/hkstories30&amp;d=2016-01-18&amp;p=7070&amp;e=340351&amp;m=episode">節目連結</a></span><span class="style6"><br>
                                          </span>                              <p></p>
                              <p align="center" class="style6"><br>
                              </p>                              </td>
                          </tr>
                          <tr>
                            <td height="99" valign="top"><span class="f01_news_003"><span class="style43"><span class="style6"><span class="style47 style4">※香港電台 - 運動人生</span><br>
                            </span><span class="style3">競技體操</span></span> - <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=288280&amp;d=2014-12-03&amp;player=mp3&amp;type=archive&amp;channel=dab35">(1)</a> - <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=288280&amp;d=2014-12-10&amp;player=mp3&amp;type=archive&amp;channel=dab35">(2)</a> - <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=288280&amp;d=2014-12-17&amp;player=mp3&amp;type=archive&amp;channel=dab35">(3)</a><br>
                                <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=290262&amp;d=2014-12-24&amp;player=mp3&amp;type=archive&amp;channel=dab35">藝術體操</a><br>
                                <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=292251&amp;d=2014-12-31&amp;player=mp3&amp;type=archive&amp;channel=dab35">彈網</a><br>
                                <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=292256&amp;d=2015-01-07&amp;player=mp3&amp;type=archive&amp;channel=dab35">健美體操</a><br>
                                <a href="http://programme.rthk.hk/channel/radio/player_popup.php?pid=5790&amp;eid=292261&amp;d=2015-01-14&amp;player=mp3&amp;type=archive&amp;channel=dab35">普及體操</a></span></td>
                                      </tr>
                                      
                                      
                                  </tbody></table></td>
                                </tr>
                              </tbody></table>
                              <br>
                                                          
                            </td>
                          </tr>
                        </tbody></table></td>
                    </tr>
                    <tr>
                      <td height="8"></td>
                    </tr>
                  </tbody></table></td>
                </tr>
                <tr>
                  <td><img src="images/home_00030_001_003.jpg"></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><a href="http://www.gahk.org.hk/p3.htm" onmouseover="MM_swapImage('Image12','','images/home_abc00081_001_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home_abc00081_001.jpg" name="Image12" border="0" id="Image12"></a></td>
                    </tr>
                    <tr>
                      <td><a href="http://www.gahk.org.hk/p6.htm" onmouseover="MM_swapImage('Image13','','images/home_abc00082_001_on.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="images/home_abc00082_001.jpg" name="Image13" border="0" id="Image13"></a></td>
                    </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table></td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="1"><img src="images/spe.gif" width="4" height="18"></td>
                <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td><a href="http://www.gahk.org.hk/p3.htm"><img src="images/hh_logo_001_001.jpg" border="0" class="pic"></a></td>
                  </tr>
                  <tr>
                    <td><img src="images/spe.gif" width="199" height="1"></td>
                  </tr>
                  <tr>
                    <td><a href="http://www.gahk.org.hk/p3.htm"><img src="images/hh_logo_001_002.jpg" border="0" class="pic"></a></td>
                  </tr>
                </tbody></table></td>
                  <td width="1"><img src="images/spe.gif" width="6" height="18"></td>
                </tr>
              </tbody></table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody></table></td>
          </tr>
        </tbody></table></td>
        <td width="784" background="images/hh_hh_pp_bgbg_001.jpg"><div style="min-height:1170px; width:773px; overflow:hidden">    
        <%- body %>
</div></td>
        <td width="1"><img src="images/spe.gif" width="10" height="88"></td>
        </tr>
      </tbody></table></td>
  </tr>
  <tr>
    <td><img src="images/home_00099_bb001.jpg"></td>
  </tr>
</tbody></table>

<table width="950" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody><tr><td>
<iframe marginwidth="0" marginheight="0" id="gahk_counter" frameborder="0" src="http://www.b2a.hk/gahk_counter/counter.asp" height="30" width="150"></iframe>
</td></tr>
</tbody></table>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/1/JavaFunctions.js"></script>
    <script src="/js/1/prototype.js"></script>
    <script src="/js/2/lightbox.js"></script>
    <!--SCRIPTS END-->
    <script src="/scriptaculous.js?load=effects"></script>
  </body>
</html>
